APP_NAME="CAAP DTS Test"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://10.20.2.115

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file
APP_TIMEZONE=Asia/Manila

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=caap_dts
DB_USERNAME=caap_dts
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=false

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
DB_QUEUE_RETRY_AFTER=360
CACHE_STORE=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS="caap-dts-test@example.test"
MAIL_FROM_NAME="${APP_NAME}"

NODE_BINARY=/usr/local/bin/node
HTTP_PORT=80

MYSQL_DATABASE=caap_dts
MYSQL_USER=caap_dts
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
